<% if (is_current("about", false) && theme.about_big_image){ %>
  
  <div class="site-header-image">
    <img id="originBg" width="100%" alt="Hike News" src="">
  </div>

  <div id="header-blur" class="site-header-image blur" style="position: absolute; top:0; height: 207px; min-height: 207px; min-width: 100%;">
    <img id="blurBg" width="100%" style="top: 96%" alt="Hike News" src="">
  </div>

  <script>
        var imgUrls = "<%- theme.about_big_image %>".split(",");
        var random = Math.floor((Math.random() * imgUrls.length ));
        if (imgUrls[random].startsWith('http') || imgUrls[random].indexOf('://') >= 0) {
          document.getElementById("originBg").src=imgUrls[random];
          document.getElementById("blurBg").src=imgUrls[random];
        } else {
          document.getElementById("originBg").src='<%= config.root %>' + imgUrls[random];
          document.getElementById("blurBg").src='<%= config.root %>' + imgUrls[random];
        }
    </script>

<% } %>


<header id="allheader" class="site-header" role="banner" 
  <% if (is_current("about", false) && theme.about_big_image){ %> style="width: 100%; position: absolute; top:0; background: rgba(255,255,255,.8);" <% } %> >
  <div class="clearfix container">
      <div class="site-branding">

          <h1 class="site-title">
            <% if (theme.avatar.enable){ %>
              <a href="<%= config.root %>" rel="home" >
                <img style="margin-bottom: <%= theme.avatar.bottom %>px;"  width="<%= theme.avatar.width %>px" height="<%= theme.avatar.height %>px" alt="Hike News" src="<% if (!(theme.avatar.url.startsWith('http') || theme.avatar.url.indexOf('://') >= 0)){ %> <%-config.root %><% } %><%- theme.avatar.url %>">
              </a>
            <% } else { %>
              <a href="<%= config.root %>" title="<%= config.title %>" rel="home"> <%= config.title %> </a>
            <% } %>
          </h1>
          
          <% if (config.description){ %>
            <div class="site-description"><%= config.description %></div>
          <% } %>
            
          <nav id="main-navigation" class="main-navigation" role="navigation">
            <a class="nav-open">Menu</a>
            <a class="nav-close">Close</a>

            <div class="clearfix sf-menu">
              <ul id="main-nav" class="menu sf-js-enabled sf-arrows"  style="touch-action: pan-y;">
                    <% for (var i in theme.menu){ %>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-1663"> <a class="" href="<%- url_for(theme.menu[i]) %>"><%= __(i.toLowerCase()) %></a> </li>
                    <% } %>
              </ul>
            </div>
          </nav>

      </div>
  </div>
</header>
